/* 
 * Global stylesheet entry point.
 * Bundled to public/index.css so you can reference it locally:
 * <link rel="stylesheet" href="http://localhost:3000/index.css">
 *
 * Add your site-wide styles below.
 */

/* Accordions CSS */
[data-accordion-list='css'] [data-accordion-body] {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.6s cubic-bezier(0.625, 0.05, 0, 1);
}

[data-accordion-list='css'] [data-accordion='active'] [data-accordion-body] {
  grid-template-rows: 1fr !important;
}

/* Modals CSS */
.modal[data-modal-group-status='active'] {
  opacity: 1;
  visibility: visible;
}


.line-wrap{overflow: hidden;}